<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    {% load static %}

    <!-- <link href="{% static '/css/style.css' %}" rel="stylesheet"> -->
    <link htef="{% static '/css/bootstrap-css' %}" rel="stylesheet">
    <link href="{% static '/css/style.css' %}" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
  <div class="form-group">
    {% for message in messages %}
    <div class="alert alert-danger" role="alert">
        {{message}}
    </div>
    {% endfor %}
</div>

    <div class="wrapper fadeInDown">
        <div id="formContent">

          <section class="vh-100" style="background-color: #9A616D; width: 100rem;">
            <div class="container py-5 h-100">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-10">
                  <div class="card" style="border-radius: 1rem; width: 50rem">
                    <div class="row g-0">
                      <!-- <div class="col-md-6 col-lg-5 d-none d-md-block">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                          alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                      </div> -->
                      <div class="col-md-6 col-lg-7 d-flex align-items-center">
                        <div class="card-body p-4 p-lg-5 text-black">
          
                          <form method="POST">

                            {% csrf_token %}
          
                            <div class="d-flex align-items-center mb-3 pb-1">
                              <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                              <span class="h1 fw-bold mb-0">Login</span>
                            </div>
          
                            <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>
          
                            <div class="form-outline mb-4">
                              <input type="text" id="form2Example17" class="form-control form-control-lg" name="username" placeholder="ABC" required/>
                              <label class="form-label" for="form2Example17">User name</label>
                            </div>
          
                            <div class="form-outline mb-4">
                              <input type="password" id="form2Example27" class="form-control form-control-lg" name="password" placeholder="*********" required/>
                              <label class="form-label" for="form2Example27">Password</label>
                            </div>

                            <div class="row" id="category-opt" >
                              <div class="col-md-6">
                                  <label class="">TRP PROTOCOL</label>
                              </div>
                              <div class="col col-md-6">
                                  <select name="transportprotocol"  class="form-control">
                                      <option>RESTCONF</option>
                                      <option>NETCONF</option>
                                      <option>Gnmi</option>
                                      
                                  </select>
                              </div>    
                          </div>
          
                            <div class="pt-1 mb-4 mt-4">
                              <button class="btn btn-dark btn-lg btn-block" type="submit">Login</button>
                            </div>
                            <a href="{% url 'wireless' %}" class="nav-link"><p>Don't have an account?</p></a>
                            <!-- <a class="small text-muted" href="#!">Forgot password?</a>
                            <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a href="#!"
                                style="color: #393f81;">Register here</a></p>
                            <a href="#!" class="small text-muted">Terms of use.</a>
                            <a href="#!" class="small text-muted">Privacy policy</a> -->
                          </form>
          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- Tabs Titles -->
      
          <!-- Icon -->
          <!-- <div class="fadeIn first">
            <img src="https://media.istockphoto.com/id/1281150061/vector/register-account-submit-access-login-password-username-
            internet-online-website-concept.jpg?s=612x612&w=0&k=20&c=9HWSuA9IaU4o-CK6fALBS5eaO1ubnsM08EOYwgbwGBo=" id="icon" alt="User Icon" />
          </div> -->
      
          <!-- Login Form -->
          <!-- <form method="post"> -->
<!--  -->
            <!-- {% csrf_token %} -->
<!--  -->
            <!-- <input type="text" id="login" class="fadeIn second" name="username" placeholder="User name"> -->
            <!-- <input type="password" id="password" class="fadeIn third" name="password" placeholder="password"> -->
            <!-- <input type="submit" class="fadeIn fourth" value="Log In"> -->
          <!-- </form> -->
<!--  -->
          <!-- <a href="{% url 'wireless' %}" class="nav-link"><p>If don't have account</p></a> -->
      
          <!-- Remind Passowrd -->
          <!-- <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
          </div>
       -->
        </div>
      </div>
</body>
</html>